<div>
  <!-- menu -->
  <ul class="nav bg-light border">
    <li class="nav-item">
      <!-- routerLink son enlace que van a cargar la pagina -->
      <a class="nav-link active" routerLink="/acceso"  >Acceso</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reserva" >Reserva</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/misreservas" >Mis Reservas</a>
    </li>
  </ul>
</div>

<div>
  <router-outlet></router-outlet>
</div>

<!-- [class.disabled]=  "isAutenticado" -->
